@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@800&family=Copse&family=Manjari:wght@700&family=Solway:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manjari', sans-serif;
  background: linear-gradient(to left, whitesmoke, rgb(255, 255, 255));
  color: teal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  overflow: hidden;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, whitesmoke, rgb(255, 255, 255));
  z-index: -1;
}
nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  align-items: center;
  color: whitesmoke;
}
#logo {
  grid-column: 2/3;
  font-size: 24px;
  color: rgb(199, 131, 5);
}
nav img {
  justify-self: end;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: none;
}
nav .navigation-bar {
  justify-self: end;
  display: inline-block;
}
nav .navigation-bar a {
  color: teal;
  padding: 0 10px;
  font-size: 18px;
  transition: color 0.3s ease;
  text-decoration: none;
}
nav .navigation-bar a:hover {
  color: rgb(3, 158, 158);
}
.intro {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
#name {
  color: rgb(199, 131, 5);
  font-size: 72px;
}
.hero {
  height: 70%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.hero-img {
  position: absolute;
  top: 15vh;
  left: 45vw;
  z-index: 2;
}
.hero img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.headline {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 50px;
  transform: translate(-25%, -70%);
  color: teal;
  z-index: 2;
}
#hello {
  font-size: 90px;
}
#multiText {
  font-size: 32px;
}
.headline button {
  color: whitesmoke;
}
.hero::after {
  content: '';
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bio,
header,
.projects,
.skills,
.contact,
.whatIDo {
  height: 100vh;
  width: 100%;
}

.bio-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.bio-col-1 {
  flex-basis: 35%;
}

.bio-col-1 img {
  width: 100%;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.bio-col-2 {
  flex-basis: 60%;
}

.tabTitles {
  display: flex;
  align-items: center;
  margin: 10px 0px 20px;
}

.tabLinks {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tabLinks::after {
  content: '';
  width: 0px;
  height: 3px;
  background: teal;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tabLinks.activeLink::after {
  width: 50%;
}

.tabContents ul li {
  list-style: none;
  margin: 10px 0;
}

.tabContents ul li span {
  color: rgb(199, 131, 5);
  font-size: 14px;
}

.tabContents {
  display: none;
}

.tabContents.activeTab {
  display: block;
}

/* -------------services------------ */
.whatIDo {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.serviceList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}

.serviceList div {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.serviceList div h1 {
  font-size: 20px;
  margin-top: 1rem;
}

.serviceList div img {
  height: 60px;
  width: 60px;
}

/* ----------projects----------- */
.projects {
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills {
  list-style: none;
  width: 600px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.whatIDo h3,
.skills h3,
.contact h3,
.projects h3,
.footer-content h3,
#bio-name {
  text-align: center;
  color: rgb(199, 131, 5);
}
.skills li {
  margin: 20px 0;
}
.bar {
  background: white;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: 0 0 10px teal;
}
#span {
  height: 2px;
  float: left;
  background: teal !important;
}
.html {
  width: 87%;
  animation: html 2s;
}
.javascript {
  width: 70%;
  animation: javascript 2s;
}
.python {
  width: 80%;
  animation: python 2s;
}
.angular {
  width: 55%;
  animation: angular 2s;
}
.django {
  width: 85%;
  animation: django 2s;
}
.node {
  width: 75%;
  animation: flask 2s;
}
.figma {
  width: 75%;
  animation: flask 2s;
}
.workList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}

.work {
  border-radius: 10px;
  overflow: hidden;
  height: 180px;
  position: relative;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.work img {
  width: 100%;
  transition: transform 0.5s;
  object-fit: contain;
}

.overlay {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), teal);
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
  transition: height 0.5s;
}

.overlay h6 {
  color: white;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .overlay {
  height: 100%;
}
@keyframes move-up {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}
@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 87%;
  }
}
@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes javascript {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes python {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes angular {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}
@keyframes django {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes flask {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
.contact-section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  /* min-width: 1200px; */
  padding: 0 20px;
}
.card {
  background: teal;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: teal;
  cursor: pointer;
}
.card-icon {
  font-size: 28px;
  background: rgb(199, 131, 5);
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}
.card:hover .card-icon {
  background: none;
  color: whitesmoke;
  transform: scale(1.6);
}
.card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  min-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}
.card:hover p {
  max-height: 40px;
  opacity: 1;
  color: whitesmoke;
}
.contact p,
.contact h1 {
  text-align: center;
}
.contact p {
  padding-top: 20px;
}
.footer {
  height: auto;
  width: 100%;
  padding-top: 46px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 24px;
}
.footer-content a {
  color: teal;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  padding: 0;
}
.socials li {
  margin: 0 10px;
}
.socials li a {
  text-decoration: none;
  color: teal;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: rgb(3, 158, 158);
}
.footer-bottom {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

@media screen and (max-width: 1028px) {
  nav .navigation-bar {
    display: none;
  }
  .headline {
    top: 40%;
    left: 15%;
    font-size: 25px;
  }
  #logo {
    font-size: 30px;
  }
  .bio {
    width: 100%;
    height: 100%;
    padding: 40px;
  }
  .bio h3 {
    color: rgb(199, 131, 5);
  }
  .bio .col-md-6 {
    margin-top: 20px;
  }
  .col-md-6 h3 span {
    margin: unset;
    background: teal;
  }
  .col-md-6 p {
    padding-top: 10px;
    font-size: 22px;
  }
  .skills {
    width: 95%;
    height: 100%;
  }
  .projects {
    width: 95%;
    height: 100%;
  }
  .whatIDo {
    width: 95%;
    height: 100%;
  }
  .contact {
    height: 100%;
    width: 100%;
  }
  .contact-section {
    min-height: unset;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 0 20px;
  }
  .footer {
    width: 100%;
  }
  .footer-content p {
    margin: 5px auto;
    line-height: 22px;
    font-size: 22px;
  }
  .socials a i {
    font-size: 1.5rem;
  }
  .footer-bottom p {
    font-size: 17px;
  }
  .footer-content a {
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .headline {
    top: 40%;
    left: 15%;
    font-size: 25px;
  }
  #logo {
    font-size: 30px;
  }
  .bio {
    padding: 20px;
    height: 100%;
  }
  .bio-col-2 {
    flex-basis: 100%;
  }
  .skills {
    width: 95%;
    height: 100%;
  }
  .projects {
    height: 100%;
  }
  .col-md-4 img {
    height: 150px;
    width: 200px;
  }
  .contact {
    height: 100%;
    width: 100%;
  }
  .contact-section {
    width: 90%;
    padding: 0 5px;
    flex-direction: column;
  }
  .card {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px) {
  .headline {
    top: 50%;
    left: 5%;
    font-size: 20px;
  }
  #logo {
    font-size: 20px;
  }
  #name {
    font-size: 56px;
  }

  .bio-row {
    height: 100%;
  }

  .bio-col-1 {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bio-col-1 img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }
  .contact p {
    padding-top: 10px;
  }
}

@media screen and (max-width: 415px) {
  nav {
    grid-template-columns: unset;
  }
  .headline {
    font-size: 25px;
  }
  #logo {
    font-size: 20px;
  }
  .bio {
    width: 100%;
    height: 100%;
    text-align: left;
  }
  .bio h3 {
    color: rgb(199, 131, 5);
  }
  .bio .col-md-6 {
    margin-top: 20px;
  }
  .col-md-6 h3 span {
    margin: auto;
    background: teal;
  }
  .col-md-6 p {
    font-size: 18px;
  }
  .skills {
    width: 90%;
    height: 100%;
  }
  .projects {
    height: 100%;
    width: 90%;
  }
  .work img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .col-md-4 img {
    height: 220px;
    width: 320px;
  }
  .contact {
    height: 100%;
    width: 100%;
  }
  .contact-section {
    padding: 0 10px;
  }
  .footer {
    width: 100%;
  }
  .footer-content p {
    margin: 10px auto;
    line-height: 20px;
    font-size: 19px;
  }
  .col-md-6 img {
    height: 300px;
    width: 250px;
    object-fit: cover;
  }
}

@media screen and (max-width: 364px) {
  .headline {
    font-size: 20px;
  }
  #name {
    font-size: 36px;
  }
  #multiText {
    font-size: 24px;
  }
}

@media screen and (max-width: 330px) {
  .headline {
    left: 15%;
  }
  #logo {
    font-size: 20px;
  }
  .col-md-6 h3 span {
    margin: auto;
  }
  .col-md-4 img {
    height: 180px;
    width: 280px;
  }
  .contact p {
    padding-top: 10px;
  }
}
